* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}

.form-custom {
  width: 50%;
  margin: 0 auto;
}

.form-control:focus {
  box-shadow: none;
  border-color: #000;
}

.btn-form {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 0;
  border: none;
  outline: none;
  color: #fff;
  background-color: #f79f8e;
  opacity: 0.8;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}

.btn-form:hover {
  opacity: 1;
}
